/*
 * Natural Voice SDK
 * Natural Voice SDKs are easiest and best supported way for most developers to quickly build and iterate Natural Voice applications that integrate with our services programmatically.
 *
 * OpenAPI spec version: 1.2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.BooleanResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HasNLPResultsApi {
    private ApiClient apiClient;

    public HasNLPResultsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HasNLPResultsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for insightsHasNLPResultsAudioIdGet
     * @param audioId The audio Id (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call insightsHasNLPResultsAudioIdGetCall(String audioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/insights/HasNLPResults/{audioId}"
            .replaceAll("\\{" + "audioId" + "\\}", apiClient.escapeString(audioId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call insightsHasNLPResultsAudioIdGetValidateBeforeCall(String audioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'audioId' is set
        if (audioId == null) {
            throw new ApiException("Missing the required parameter 'audioId' when calling insightsHasNLPResultsAudioIdGet(Async)");
        }
        
        
        com.squareup.okhttp.Call call = insightsHasNLPResultsAudioIdGetCall(audioId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Determine if an audio upload has NLP results
     * Use this API to determine if transcribed audio has NLP results. This is a GET operation.
     * @param audioId The audio Id (required)
     * @return BooleanResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BooleanResponse insightsHasNLPResultsAudioIdGet(String audioId) throws ApiException {
        ApiResponse<BooleanResponse> resp = insightsHasNLPResultsAudioIdGetWithHttpInfo(audioId);
        return resp.getData();
    }

    /**
     * Determine if an audio upload has NLP results
     * Use this API to determine if transcribed audio has NLP results. This is a GET operation.
     * @param audioId The audio Id (required)
     * @return ApiResponse&lt;BooleanResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BooleanResponse> insightsHasNLPResultsAudioIdGetWithHttpInfo(String audioId) throws ApiException {
        com.squareup.okhttp.Call call = insightsHasNLPResultsAudioIdGetValidateBeforeCall(audioId, null, null);
        Type localVarReturnType = new TypeToken<BooleanResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Determine if an audio upload has NLP results (asynchronously)
     * Use this API to determine if transcribed audio has NLP results. This is a GET operation.
     * @param audioId The audio Id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call insightsHasNLPResultsAudioIdGetAsync(String audioId, final ApiCallback<BooleanResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = insightsHasNLPResultsAudioIdGetValidateBeforeCall(audioId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BooleanResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
