/*
 * Natural Voice SDK
 * Natural Voice SDKs are easiest and best supported way for most developers to quickly build and iterate Natural Voice applications that integrate with our services programmatically.
 *
 * OpenAPI spec version: 1.2.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.SentibotResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SentibotApi {
    private ApiClient apiClient;

    public SentibotApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SentibotApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for insightsSentibotAudioIdGet
     * @param audioId (required) String, the audioId, returned by Upload Audio API. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call insightsSentibotAudioIdGetCall(String audioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/insights/sentibot/{audioId}"
            .replaceAll("\\{" + "audioId" + "\\}", apiClient.escapeString(audioId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call insightsSentibotAudioIdGetValidateBeforeCall(String audioId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'audioId' is set
        if (audioId == null) {
            throw new ApiException("Missing the required parameter 'audioId' when calling insightsSentibotAudioIdGet(Async)");
        }
        
        
        com.squareup.okhttp.Call call = insightsSentibotAudioIdGetCall(audioId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Sentiment classification for bot applications
     * Use this API to find out if the sentiment classifications (ClearlyPositive, ClearlyNegative, NeutralMixed, AlertManager) are TRUE or FALSE for a given audioId that has NLP results. Bots can be programmed to use Sentibot classifications for improved conversational design. This is a GET operation.
     * @param audioId (required) String, the audioId, returned by Upload Audio API. (required)
     * @return SentibotResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SentibotResponse insightsSentibotAudioIdGet(String audioId) throws ApiException {
        ApiResponse<SentibotResponse> resp = insightsSentibotAudioIdGetWithHttpInfo(audioId);
        return resp.getData();
    }

    /**
     * Sentiment classification for bot applications
     * Use this API to find out if the sentiment classifications (ClearlyPositive, ClearlyNegative, NeutralMixed, AlertManager) are TRUE or FALSE for a given audioId that has NLP results. Bots can be programmed to use Sentibot classifications for improved conversational design. This is a GET operation.
     * @param audioId (required) String, the audioId, returned by Upload Audio API. (required)
     * @return ApiResponse&lt;SentibotResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SentibotResponse> insightsSentibotAudioIdGetWithHttpInfo(String audioId) throws ApiException {
        com.squareup.okhttp.Call call = insightsSentibotAudioIdGetValidateBeforeCall(audioId, null, null);
        Type localVarReturnType = new TypeToken<SentibotResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Sentiment classification for bot applications (asynchronously)
     * Use this API to find out if the sentiment classifications (ClearlyPositive, ClearlyNegative, NeutralMixed, AlertManager) are TRUE or FALSE for a given audioId that has NLP results. Bots can be programmed to use Sentibot classifications for improved conversational design. This is a GET operation.
     * @param audioId (required) String, the audioId, returned by Upload Audio API. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call insightsSentibotAudioIdGetAsync(String audioId, final ApiCallback<SentibotResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = insightsSentibotAudioIdGetValidateBeforeCall(audioId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SentibotResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
